.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  max-width: 400px;
  margin: auto;
  gap: 10px
}